body, html{
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height:100% ;

}
.conteudo{
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}
h3{
    text-transform: uppercase;
    color: #111;
    text-align: center;
}
p{
    margin-bottom: 20px;
}
/*efeito parallax*/
.caixa1, .caixa2, .caixa3, .caixa4, .caixa5{
    border: 1px solid red;
    height: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;/*para as imagens não se repetirem*/
    background-size: cover/*cobre as partes que a img não cobriu*/;
    background-position: center;/*para a iamgem ficar centralzada*/
    background-attachment: fixed;/*para a img ficar fixa*/
    position: relative;
}
.caixa1{
    background-image: url(imagem1.jpg);
}
.caixa2{
    background-image: url(imagem2.jpg);
}
.caixa3{
    background-image: url(imagem3.jpg);
}
.caixa4{
    background-image: url(imagem4.jpg);
}
.caixa5{
    background-image: url(imagem5.jpg);
}
.conteudo-titulo{
    position: absolute;/*FICA MAIS FACIL DE CENTRALIZAR*/
    left: 0;/*colar ele a 50% da nossa lateral*/
    top: 45%;
    width: 100%;
    text-align: center;
    
}
.conteudo-titulo span.titulo{
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px; /*para dar espaçamento entre as letras*/
}
